.quizSummary__header {
	position: relative;
	margin-bottom: 1.5rem;
	overflow: hidden;
}

.quizSummary__draft {
	display: inline-block;
	font-weight: 700;
	color: var(--secondary-color);
	background-color: var(--neutral-color-300);
	border-radius: var(--br-400) 0 var(--br-400) 0;
	padding: 0.75rem 1rem;
	position: absolute;
	top: 0;
	left: 0;
}

.quizSummary__img {
	width: 100%;
	height: 15rem;
	display: block;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: var(--br-400);
}

.quizSummary__header__text {
	display: flex;
	gap: 2rem;
	align-items: flex-start;
	background: linear-gradient(to top, var(--primary-color) 20%, transparent);
	padding-top: 5rem;
	padding-inline: 2rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.quizSummary__title {
	font-size: var(--fs-900);
}

.quizSummary__category {
	padding: 0.5rem 1rem;
}

.quizSummary__body {
	margin-bottom: 3rem;
}

.quizSummary__category {
	margin-top: 0.5rem;
}

.quizSummary__counts {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 3rem;
}

.quizSummary__user {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.quizSummary__user__photo {
	width: 2rem;
	aspect-ratio: 1;
	border-radius: var(--br-pill);
}

.quizSummary__user__divider {
	width: 0.25rem;
	aspect-ratio: 1;
	display: inline-block;
	background-color: var(--neutral-color-700);
	border-radius: var(--br-pill);
}

@media screen and (max-width: 576px) {
	.quizSummary__body {
		margin-bottom: 0;
	}

	.quizSummary__button {
		position: fixed;
		padding: 0.5rem;
		bottom: 0rem;
		left: 0rem;
		right: 0rem;
	}
}
