.quizCard {
	--quiz-card-px: 1rem;
	--quiz-card-py: 1rem;
	--quiz-card-gap: 0.75rem;

	gap: var(--quiz-card-gap);
	text-decoration: none;
	color: var(--neutral-color-700);
}

.quizCard__title {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: flex-start;
}

.quizCard__title__heading {
	font-size: var(--fs-400);
}

.quizCard__description {
	max-height: 6rem;
	display: -webkit-box;
	font-size: var(--fs-200);
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.quizCard__counts {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.quizCard__button {
	display: flex;
	color: var(--accent-color-400);
	margin-top: auto;
	margin-left: auto;
}
