.quizCard {
	--quiz-card-px: 1rem;
	--quiz-card-py: 1rem;
	--quiz-card-gap: 0.75rem;

	width: 18rem;
	height: 26.5rem;
	display: flex;
	flex-direction: column;
	gap: var(--quiz-card-gap);
	text-decoration: none;
	color: var(--neutral-color-700);
	background-color: var(--secondary-color);
	border-radius: var(--br-400);
	box-shadow: 0 0.25rem 0.5rem var(--neutral-color-300);
	overflow: hidden;
	transition: box-shadow 200ms ease;
}
.quizCard:hover {
	box-shadow: 0 0.5rem 1rem var(--neutral-color-300);
}

.quizCard__img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.quizCard__description {
	max-height: 6rem;
	display: -webkit-box;
	font-size: var(--fs-200);
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.quizCard__counts {
	display: flex;
	gap: 2rem;
	align-items: center;
	color: var(--neutral-color-400);
}

.quizCard__button {
	display: flex;
	color: var(--accent-color-400);
	margin-top: auto;
	margin-left: auto;
}
