.checkbox {
	display: inline-flex;
	gap: 0.5rem;
	position: relative;
	cursor: pointer;
}

.checkbox__input {
	opacity: 0;
	position: absolute;
	top: 0.25rem;
	left: 0.125rem;
}

.checkbox__marker {
	--size: 1rem;

	width: var(--size);
	height: var(--size);
	display: grid;
	place-items: center;
	background-color: var(--secondary-color);
	border: 0.125rem solid var(--neutral-color-300);
	border-radius: var(--br-200);
	margin-top: 0.125rem;
	position: relative;
}
.checkbox__input:checked + .checkbox__marker {
	background-color: var(--accent-color-400);
	border-color: var(--accent-color-400);
}
.checkbox__input:focus-visible + .checkbox__marker {
	outline: auto;
}

.checkbox__marker::after {
	content: "";
	width: calc(0.6 * var(--size));
	height: calc(0.3 * var(--size));
	border-left: 0.125rem solid var(--secondary-color);
	border-bottom: 0.125rem solid var(--secondary-color);
	rotate: -45deg;
	translate: 0 -0.05rem;
}
