.progressBar {
	width: 100%;
	height: 0.5rem;
	background-color: var(--neutral-color-300);
	border-radius: var(--br-pill);
	position: relative;
}
.progressBar::after {
	content: "";
	width: var(--width, 0);
	background-color: var(--accent-color-400);
	border-radius: var(--br-pill);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
