.editQuestion {
	border-radius: var(--br-400);
	box-shadow: 0 0.5rem 1rem var(--neutral-color-300);
	padding: 1rem;
}

.editQuestion__header {
	display: flex;
	gap: 3rem;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.editQuestion__title {
	font-size: var(--fs-500);
}

.editQuestion__header__close {
	width: 2.5rem;
	height: 2.5rem;
	display: inline-grid;
	place-items: center;
	padding: 0;
}

.editQuestion__buttons--small {
	display: none;
}

.editQuestion__preview {
	margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
	.editQuestion__buttons--full {
		display: none;
	}

	.editQuestion__buttons--small {
		display: block;
	}
}
