.skeleton {
	width: var(--width, 100%);
	height: var(--height, 200px);
	background-color: var(--neutral-color-300);
	border-radius: var(--br-400);
	overflow: hidden;
	position: relative;
}
.skeleton::after {
	content: "";
	width: 10rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	background: linear-gradient(
		to right,
		transparent 0%,
		var(--neutral-color-200) 50%,
		transparent 100%
	);
	animation: shimmer 1.2s infinite;
}
@keyframes shimmer {
	from {
		left: -100%;
	}
	to {
		left: 100%;
	}
}

.skeleton--circle {
	border-radius: var(--br-pill);
}
