.questionListItem {
	border-radius: var(--br-400);
	box-shadow: 0 0.5rem 1rem var(--neutral-color-300);
	padding: 1rem;
	touch-action: none;
}

.questionListItem__header {
	display: flex;
	gap: 3rem;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.questionListItem__header__left {
	display: flex;
	gap: 0.5rem;
}

.questionListItem__order {
	color: var(--accent-color-400);
}

.questionListItem__photo {
	display: block;
	max-width: 100%;
	max-height: 15rem;
	border-radius: var(--br-400);
	margin-inline: auto;
	margin-bottom: 1.5rem;
}

.questionListItem__answerOptions__container {
	margin-bottom: 1.5rem;
}

.questionListItem__buttons {
	display: flex;
	gap: 1rem;
}
