.categoryCheckbox {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	background-color: var(--accent-color-200);
	border-radius: var(--br-pill);
	padding: 0.75rem 1.5rem;
	position: relative;
	isolation: isolate;
	transition: color 200ms ease, background-color 200ms ease;
	cursor: pointer;
}
.categoryCheckbox:hover {
	background-color: hsl(from var(--accent-color-200) h s calc(l - 10));
}
.categoryCheckbox:has(.categoryCheckbox__input:focus-visible) {
	outline: auto;
}

.categoryCheckbox:has(.categoryCheckbox__input:checked) {
	color: var(--secondary-color);
	background-color: var(--accent-color-400);
}
.categoryCheckbox:has(.categoryCheckbox__input:checked):hover {
	background-color: hsl(from var(--accent-color-400) h s calc(l - 10));
}

.categoryCheckbox:has(.categoryCheckbox__input:disabled) {
	cursor: auto;
}
.categoryCheckbox:has(.categoryCheckbox__input:disabled):hover {
	background-color: var(--accent-color-400);
}

.categoryCheckbox__input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.categoryCheckbox__name {
	text-transform: capitalize;
}
