.modalTitle {
	font-size: var(--fs-900);
	font-weight: 700;
	position: relative;
}

.modalTitle::after {
	content: "";
	width: 4rem;
	height: 0.25rem;
	background-color: var(--accent-color-400);
	border-radius: var(--br-pill);
	position: absolute;
	bottom: 0;
	left: 0;
}
