.editAnswerOption {
	display: flex;
	gap: 1rem;
}

.editAnswerOption__textarea {
	flex-grow: 1;
}

.editAnswerOption__buttons {
	display: flex;
	gap: 1rem;
	margin-top: 1.5rem;
}

.editAnswerOption__remove {
	width: 2.5rem;
	height: 2.5rem;
	display: inline-grid;
	place-items: center;
	padding: 0;
}

@media screen and (max-width: 576px) {
	.editAnswerOption__buttons {
		flex-direction: column;
	}
}
