.modal {
	--modal-px: 2rem;
	--modal-py: 2rem;

	width: 30rem;
	background-color: var(--secondary-color);
	border-radius: var(--br-400);
	margin-inline: auto;
	overflow-y: auto;
}

@media screen and (max-width: 576px) {
	.modal {
		width: 95%;
	}
}
