.header {
	background-color: hsl(from var(--primary-color) h s l / 0.75);
	backdrop-filter: blur(0.25rem);
	box-shadow: 0 0 0.5rem var(--neutral-color-300);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.header__user__photo {
	width: 2rem;
	height: 2rem;
	border: 0.125rem solid var(--neutral-color-300);
	border-radius: var(--br-pill);
}

@media screen and (max-width: 576px) {
	.header__menu {
		display: none;
	}
}
