.overlay {
	height: 100svh;
	background-color: rgba(0 0 0 / 0.5);
	backdrop-filter: blur(0.25rem);
	padding: 2rem;
	overflow-y: auto;
	position: fixed;
	top: -100%;
	left: 0;
	right: 0;
	z-index: 20;
	transition: top 200ms linear;
}
.overlay--show {
	top: 0;
}
