.divider {
	width: 100%;
	height: 0.125rem;
	background-color: var(--neutral-color-300);
	color: var(--neutral-color-300);
	margin-block: var(--my, 1rem);
	position: relative;
}

.divider__text {
	display: inline-block;
	text-wrap: nowrap;
	background-color: var(--secondary-color);
	padding-inline: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}
