.editAnswerOptionIsCorrectCheckbox {
	position: relative;
}

.editAnswerOptionIsCorrectCheckbox__input {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
}

.editAnswerOptionIsCorrectCheckbox__button {
	--button-color: var(--neutral-color-400);
	--button-bg-color: transparent;

	width: 2.5rem;
	height: 2.5rem;
	display: inline-grid;
	place-items: center;
	color: var(--button-color);
	background-color: var(--button-bg-color);
	border: 0.125rem solid var(--button-color);
	border-radius: var(--br-pill);
	transition: color 200ms ease, background-color 200ms ease, border-color 200ms ease;
	cursor: pointer;
}
.editAnswerOptionIsCorrectCheckbox__button:hover {
	color: var(--secondary-color);
	background-color: var(--button-color);
}
.editAnswerOptionIsCorrectCheckbox__input:focus-visible
	+ .editAnswerOptionIsCorrectCheckbox__button {
	outline: 0.125rem solid black;
	outline-offset: 0.125rem;
}

.editAnswerOptionIsCorrectCheckbox__input:checked + .editAnswerOptionIsCorrectCheckbox__button {
	--button-color: var(--secondary-color);
	--button-bg-color: var(--success-color-400);

	border-color: var(--button-bg-color);
}
.editAnswerOptionIsCorrectCheckbox__input:checked
	+ .editAnswerOptionIsCorrectCheckbox__button:hover {
	background-color: hsl(from var(--button-bg-color) h s calc(l - 10));
	border-color: hsl(from var(--button-bg-color) h s calc(l - 10));
}

.editAnswerOptionIsCorrectCheckbox__button__icon {
	font-size: var(--fs-400);
}
