.completionCard {
	text-decoration: none;
	color: inherit;
}

.completionCard__body {
	gap: 1.5rem;
}

.completionCard__body__top {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
}

.completionCard__quiz__title {
	font-size: var(--fs-400);
	font-weight: 700;
}

.completionCard__progress {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.completionCard__progress__questions {
	align-self: flex-end;
	color: var(--neutral-color-700);
}

.completionCard__dates {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	color: var(--neutral-color-400);
}

.completionCard__date__label {
	display: inline-block;
	width: 4.25rem;
}

.completionCard__date__value {
	font-weight: 500;
}

.completionCard__button {
	align-self: flex-end;
	color: var(--accent-color-400);
	margin-top: auto;
}
