.fileUpload__drop {
	width: 100%;
	height: 15rem;
	display: grid;
	place-items: center;
	border: 0.25rem dashed var(--neutral-color-400);
	border-radius: var(--br-400);
	position: relative;
	z-index: 0;
	transition: border-color 200ms ease;
	cursor: pointer;
}
.fileUpload__drop--dragover {
	border-color: var(--accent-color-400);
}
.fileUpload__drop:has(.fileUpload__input:focus-visible) {
	outline: auto;
	outline-offset: 0.25rem;
}

.fileUpload__input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.fileUpload__img {
	max-width: 95%;
	max-height: 95%;
	border-radius: var(--br-400);
	position: absolute;
}

.fileUpload__remove {
	font-size: var(--fs-200);
	border-radius: var(--br-400);
	padding: 0.25rem 0.5rem;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.fileUpload__buttons {
	margin-top: 1rem;
}
