.fileUpload__drop {
	width: 100%;
	height: 15rem;
	display: grid;
	place-items: center;
	border: 0.25rem dashed var(--neutral-color-400);
	border-radius: var(--br-400);
	margin-bottom: 1rem;
	position: relative;
	isolation: isolate;
	z-index: 0;
	transition: border-color 200ms ease;
	cursor: pointer;
}
.fileUpload__drop--dragover {
	border-color: var(--accent-color-400);
}

.fileUpload__input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.fileUpload__img {
	max-width: 95%;
	max-height: 95%;
	border-radius: var(--br-400);
	position: absolute;
}
