.card {
	min-width: 280px;
	width: 100%;
	max-width: 350px;
	height: 26.5rem;
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-color);
	border-radius: var(--br-400);
	box-shadow: 0 0.25rem 0.5rem var(--neutral-color-300);
	overflow: hidden;
	transition: box-shadow 200ms ease;
}
.card:hover {
	box-shadow: 0 0.5rem 1rem var(--neutral-color-300);
}
