.headerSidebar {
	background-color: var(--primary-color);
	box-shadow: 0 0 1rem var(--neutral-color-300);
	padding: 2rem;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	translate: calc(-100% - 1rem) 0;
	transition: translate 200ms linear;
}
.headerSidebar--show {
	translate: 0 0;
}

.headerSidebar__user {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 1rem;
}

.headerSidebar__user__photo {
	width: 2rem;
	height: 2rem;
	background-color: var(--neutral-color-300);
	border-radius: var(--br-pill);
}
