.headerMenuItem__link {
	text-decoration: none;
	font-weight: 500;
	text-wrap: nowrap;
	color: var(--neutral-color-700);
	position: relative;
}
.headerMenuItem__link--active::after {
	content: "";
	height: 0.25rem;
	background-color: var(--accent-color-400);
	border-radius: var(--br-pill);
	position: absolute;
	bottom: -0.25rem;
	left: 0;
	right: 0;
}
